<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<!-- more bean definitions go here -->
	
	
	
	 <bean id ="mathCreatObjectValue" class="io.ExampleFour.MathCheat"></bean>
	 
	 <bean id="anotherStudent" class="io.ExampleFour.AnotherStudent">
	 	<property name="mathCheat" ref="mathCreatObjectValue"/>
	 </bean>
     
     <bean id="student" class="io.ExampleFour.Student">
     	<property name="mathCheat" ref = "mathCreatObjectValue"/>
     </bean>

	
	<!-- more bean definitions go here -->
	
</beans>

