<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


	<bean id="student" class="io.Example.Student">

		<constructor-arg name="mathCheat">
			<bean class="io.Example.MathCheat"></bean>
		</constructor-arg>

	</bean>


	<!-- more bean definitions go here -->
	<bean id="anotherStudent" class="io.Example.AnotherStudent">

		<constructor-arg name="mathCheat">
			<bean class="io.Example.MathCheat"></bean>
		</constructor-arg>

	</bean>

</beans>
